h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container div {
    padding: 20px;
    font-weight: bold;
    border: 2px solid hotpink;
}

.static {
    position: static;
    background-color: #3498db;
}

.relative {
    /* position: relative;
    top: 50px;
    bottom: 100px;
    left: 100px;
    right: 100px; */
}

.absolute {
    /* position: absolute;
    top: 100px;
    bottom: 50px;
    right: 150px;
    left: 30px; */
}

.fixed {
    position: fixed;
    background-color: #2ecc71;
    bottom: 10px;
    right: 200px;
}

#sticky-container {
    height: 200px;
    border: 3px solid #ccc;
}

.sticky {
    background-color: f39c12;
    position: sticky;
    top: 20px;
    padding: 20px;
    margin-top: 150px;
}

.floats-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box-container {
    border: 3px solid black;
    padding: 15px;
}

.float-me {
    border: 5px solid orange;
    float: none;
}

.float-left {
    border: 5px solid rgb(43, 30, 180);
    float: left;
}

.float-right {
    border: 5px solid #2ecc71;
    float: right;
    /* height: 50px; */
}

/* .clear {
    clear: both;
} */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}